/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* /reset */

/* common */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container,
.camera-top,
.camera-bottom,
.camera-center,
.camera-top-lens-3,
.camera-container .camera-top-lens-1,
.camera-center-lens-1,
.camera-top-lens-2,
.camera-top-lens-4,
.camera-top-lens-5,
.camera-top-lens-6,
.camera-bottom-lens-1,
.camera-bottom-lens-2,
.camera-bottom-lens-3,
.camera-bottom-lens-4,
.camera-right-container,
.camera-right-light,
.camera-center-lens-2,
.camera-center-lens-3,
.camera-center-lens-4,
.camera-center-lens-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* /common */

/* main container */
/* /main container */

/* iphone back */
.iphone-back,
.iphone-front {
  height: 480px;
  width: 240px;
  background: rgb(250, 230, 204);
  background: linear-gradient(
    72deg,
    rgba(250, 230, 204, 1) 58%,
    rgba(254, 247, 234, 1) 100%
  );
  border-radius: 40px;
  border: 0.8px solid #615647;
  position: relative;
  box-shadow: inset 0px 0px 0px 1.8px #f8f4e6, inset 0px 0px 1px 3.6px #bda070;
  margin: 0 20px;
}

/* camera container */
.camera-container {
  height: 110px;
  width: 110px;
  border-radius: 30px;
  margin: 13px;
  border: 0.5px solid #ccbfa8;
  background-color: #fcf0de;
  box-shadow: -0.8px 0.8px 1px 1px #fef4e2, -3px 3px 3px 1px #dacdb6,
    2px -2px 3px 1px #dacdb6, inset 5px 0px 1px -2px #ebd9bf,
    inset 6px 0px 1px -2px #fff1dd, inset -1px 0.3px 0px 1px #fffaf6;
  position: relative;
  display: flex;
  align-items: center;
}
.camera-container-shadow {
  position: absolute;
  height: 109px;
  width: 110px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 29px;
  bottom: 0px;
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    68deg,
    rgba(0, 0, 0, 0.13) 46%,
    rgba(236, 218, 193, 0) 46%
  );
}
.camera-left-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.camera-top,
.camera-bottom,
.camera-center {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgb(158, 138, 106);
  background: linear-gradient(
    63deg,
    rgba(158, 138, 106, 1) 0%,
    rgba(255, 222, 172, 1) 78%
  );
  margin-left: 5px;
  margin-top: 5px;
  box-shadow: 0px 0px 0px 0.8px #866b31,
    inset 3px 0px 1px 0px rgba(154, 134, 102, 0.83),
    -1px 2px 1.5px 0.5px rgba(166, 152, 116, 0.95);
}
.camera-top {
  margin-top: 0px;
  margin-bottom: 5px;
}
.camera-container .camera-top-lens-1,
.camera-center-lens-1 {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: rgb(136, 136, 136);
  background: linear-gradient(
    216deg,
    rgba(136, 136, 136, 1) 0%,
    rgba(21, 27, 37, 1) 78%
  );
  border: 1px solid #1f232a;
  box-shadow: inset 0px -6px 1px 0px #494949;
}
.camera-container .camera-top-lens-2 {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0.3px #1f232a;
  background: rgba(142, 142, 142);
  background: linear-gradient(
    240deg,
    rgba(142, 142, 142, 1) 0%,
    rgba(21, 27, 37, 1) 55%
  );
}
/* camera top */
.camera-top-lens-3 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #2a2a33;
}
.camera-top-lens-4 {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #2f2f38;
  box-shadow: 0px 0px 2px 1px #1f232a;
}
.camera-top-lens-5 {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: rgb(14, 14, 14);
  box-shadow: inset 1px 0px 3px 1px #0e0e0e;
}
.camera-top-lens-6 {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  box-shadow: inset 3.3px 0px 1px -2px #7c8fca, -0.5px 0px 0.3px 0px #7c8fca,
    inset -5px 0px 1px -3px #1f4d76, 0.5px 0px 0.3px 0px #1f4d76;
}
.camera-top-lens-7 {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0px 0px 0.4px 0.3px #000000;
  position: relative;
}
.light-smaller {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: white;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 1px 0.2px #ffffff;
}
/* /camera top */

/* camera bottom */
.camera-bottom-lens-1 {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgb(44, 46, 53);
}
.camera-bottom-lens-2 {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgb(44, 46, 53);
  box-shadow: 0px 0px 0px 1px #525252;
}
.camera-bottom-lens-3 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3a3a46;
}
.camera-bottom-lens-4 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black;
  box-shadow: inset 4px 0px 3px -2px #3e8b79, inset -3px 0px 0.8px -2px #7c8fca,
    inset -6.5px 0px 1px -3px #173075;
}
.camera-bottom-lens-5 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  box-shadow: inset 0.2px 0px 0px 0px #696969;
  position: relative;
}
.light-smaller-pink {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #daa1d6;
  position: absolute;
  right: 0;
  bottom: 0;
  box-shadow: 0px 0px 0.5px 0.8px #daa1d6;
}
.inner-light-1 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #9cade2;
  position: absolute;
  right: -1px;
  bottom: 0;
  box-shadow: 0px 0px 0.5px 0.3px #9cade2;
}
.inner-light-2 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #d6ddf5;
  position: absolute;
  right: 0px;
  bottom: -1px;
  box-shadow: 0px 0px 0.5px 0.3px #d6ddf5;
}
/* /camera bottom */

/* camera right */
.camera-right-container {
  flex-direction: column;
}

/* camera right top */
.camera-right-light {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  /* background-color: #ece1d9; */
  background: rgb(181, 179, 179);
  background: radial-gradient(
    circle,
    rgba(181, 179, 179, 1) 0%,
    rgba(233, 219, 206, 1) 59%
  );
  margin-left: 10px;
  margin-top: -10px;
  margin-bottom: 6px;
  box-shadow: 0px 0px 0px 0.6px #d4b682, 0px 1px 0px 0px #fdf2e4,
    0px 2.5px 1.5px 0px #dccfb8, inset 0px 0px 0px 0.8px rgb(240, 232, 226),
    inset 0px 0px 0px 1px #d3cbc8;
}
.light-left {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff9f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 1px 1px #fdd5b5;
}
.light-right {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff9f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 1px 1px #f3e9cb;
}
.inner-light-left-one {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fdd5b5;
  box-shadow: 0px 0px 0px 0.3px #fdd5b5, 0px 0px 4px 1.5px #fdd5b5;
}
.inner-light-left-two {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fdd5b5;
  box-shadow: 0px 0px 0px 0.3px #fdd5b5, 0px 0px 4px 1.5px #fdd5b5;
  margin-top: 1px;
}
.inner-light-right-one {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #f3e9cb;
  box-shadow: 0px 0px 0px 0.3px #f3e9cb, 0px 0px 4px 1.5px #f3e9cb;
}
.inner-light-right-two {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #f3e9cb;
  box-shadow: 0px 0px 0px 0.3px #f3e9cb, 0px 0px 4px 1.5px #f3e9cb;
  margin-top: 1px;
}

/* /camera right light */

.camera-center {
  margin: 0px 0px 0px 10px;
}
.camera-center-lens-2 {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: rgb(82, 82, 82);
  background: linear-gradient(
    180deg,
    rgba(82, 82, 82, 1) 0%,
    rgba(27, 27, 26, 1) 78%
  );
  box-shadow: 0px 0px 0px 0.3px #1f232a;
}
.camera-center-lens-3 {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: rgb(72, 74, 80);
  background: linear-gradient(
    180deg,
    rgba(72, 74, 80, 1) 0%,
    rgba(32, 43, 58, 1) 78%
  );
  box-shadow: 0px 0px 0px 0.3px rgba(32, 43, 58, 0.95);
}
.camera-center-lens-4 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #282828;
  box-shadow: inset 3.3px 0px 1px -2px #74a6bb,
    inset -3px 0px 0.5px -2px #7c8fca, inset -6px 0px 0.5px -3px #1f4d76;
}
.camera-center-lens-5 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #272727;
  border: 1px solid #272727;
  box-shadow: 0px 0px 0.5px 1px #8784813d, inset 4px 0px 0.8px -2.5px #5e9ee3,
    inset -3px 0px 0.5px -2px #56637a;
  z-index: 99;
}
.camera-center-lens-6 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #3e8b79;
  box-shadow: 0px 0px 1px 0.5px #3e8b79;
  position: relative;
}
.light {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: white;
  bottom: 0px;
  right: -1px;
  box-shadow: 0px 0px 1px 0.5px #ffffff;
}
.camera-right-dark {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: -12px;
  margin-top: 7px;
  background: rgb(84, 81, 81);
  background: linear-gradient(
    180deg,
    rgba(84, 81, 81, 1) 9%,
    rgba(50, 42, 42, 1) 78%
  );
  box-shadow: 0px 0px 0px 0.3px #000000;
}
.dot-right {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  right: 10px;
  bottom: 25px;
  box-shadow: 0px 0px 0px 0.7px #fff8ed, 0px 0px 0.2px 1px #d8c8ac;
}
/* /camera center */

/* apple icon */
.apple-icon {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.apple-icon svg {
  width: 50px;
  filter: invert(96%) sepia(95%) saturate(161%) hue-rotate(315deg)
    brightness(101%) contrast(98%);
}
/* /apple icon */

/* buttons */
.left-button {
  position: absolute;
  border-left: 0.5px solid #a09982;
  border-top: 3px double #615647;
  border-bottom: 3px double #615647;
  border-right: none;
  background-color: #faebd1;
  height: 60px;
  width: 1.5px;
  top: 140px;
  left: -2.5px;
}
.right-top-button {
  height: 20px;
  top: 85px;
}
.right-top-button,
.right-center-button,
.right-bottom-button {
  position: absolute;
  border-right: 0.5px solid #a09982;
  border-top: 3px double #615647;
  border-bottom: 3px double #615647;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #faebd1;
  width: 1.5px;
  right: -2.5px;
}
.right-center-button {
  height: 40px;
  top: 120px;
}

.right-bottom-button {
  height: 40px;
  top: 172px;
}
/* /buttons */

/* /iphone back */

/* iphone front */
/* buttons */
.iphone-front {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iphone-screen {
  height: 458px;
  width: 218px;
  background-image: url("https://i.pinimg.com/originals/aa/c3/a0/aac3a0d40864a7b733b22ed31b143a77.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 33px;
  display: flex;
  justify-content: center;
}
.top-rectangle {
  background-color: black;
  height: 15px;
  width: 100px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.right-button {
  position: absolute;
  border-right: 0.5px solid #a09982;
  border-top: 3px double #615647;
  border-bottom: 3px double #615647;
  border-left: none;
  background-color: #faebd1;
  height: 60px;
  width: 1.5px;
  top: 140px;
  right: -2.5px;
}
.left-top-button {
  height: 20px;
  top: 85px;
}
.left-top-button,
.left-center-button,
.left-bottom-button {
  position: absolute;
  border-left: 0.5px solid #a09982;
  border-top: 3px double #615647;
  border-bottom: 3px double #615647;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #faebd1;
  width: 1.5px;
  left: -2.5px;
}
.left-center-button {
  height: 40px;
  top: 120px;
}

.left-bottom-button {
  height: 40px;
  top: 172px;
}
/* /buttons */
/* /iphone front */
